To complete tests in your environment make sure that you have installed:
* Python
* Selenium  
* Chrome
Also you can install it automatically via requirements.txt
by typing 'pip install -r requirements.txt' in yours project terminal


Saucedemo.com functionality tested for "standard_user":
* OS: Windows 10 Pro
* IDE: Pycharm Community Edition 2021.3
* Python version: 3.9.13
* Chrome version: 109.0.5414.120(Official version)(x64)



| Functionality            | Status |
|--------------------------|--------|
| Loging in                | Works  |
| Displaying items         | Works  |
| Sorting things a-z       | Works  |
| Sorting things by price  | Works  |
| Adding items to cart     | Works  |
| Removing items from cart | Works  |
| Proceeding checkout      | Works  |
| Finishing order          | Works  |

Summary:
No bugs found for standard_user.


